
@{
    ViewData["Title"] = "LinuxCategory";
}

<br />
<br />
<div style="margin:auto;background-color:ghostwhite;border-radius:10px;border: 1px ghostwhite #233047" class="col-md-9">
    <br />
    <h2 style="padding-left: 25px">Linux Blogs</h2>
    <br />
    <nav>
        <hr />
        <a href="/Blog/LinuxBasicCommands" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="ariticleTitle">Basic Linux Commands</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>May 26, 2018</em></p>
                <p>Here is a quick cheat sheet for Linux commands. I've used these commands in my Linux so yeah! Testing stuff for the purpose of science. For CentOS clickable word for more info . . . </p>
            </div>
        </a>
        <hr />
        <a href="/Blog/LinuxGamingProton" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="ariticleTitle">Linux Gaming: Proton</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>June 13, 2019</em></p>
                <p>Proton is software released by Valve Corporation that let's you play Windows games on Linux through Steam Play. A large chunk of PC . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/PackageManagers" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="ariticleTitle">A Brief Overview: Packages, Package Managers, Repositories, and PPAs</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>June 26, 2019</em></p>
                <p>A package is a way to neatly distribute software. Packages . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/APTAndYUM" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="ariticleTitle">APT & YUM</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>July 31, 2019</em></p>
            </div>
        </a>
        <hr />
    </nav>
    <br />
</div>
<br />
<br />