
@{
    ViewData["Title"] = "LinuxCategory";
}

<br />
<br />
<div style="margin:auto;background-color:ghostwhite;border-radius:10px;border: 1px ghostwhite #233047" class="col-md-9">
    <br />
    <h2 style="padding-left: 25px">Linux Blogs</h2>
    <br />
    <nav>
        <hr />
        <a href="/Blog/LinuxBasicCommands" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="ariticleTitle">Basic Linux Commands</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>May 26, 2018</em></p>
                <p>Here is a quick cheat sheet for Linux commands. I've used these commands in my Linux so yeah! Testing stuff for the purpose of science. For CentOS clickable word for more info . . . </p>
            </div>
        </a>
        <hr />
    </nav>
    <br />
</div>
<br />
<br />