
@{
    ViewData["Title"] = "HardwareCategory";
}

<br />
<br />
<div style="margin:auto;background-color:ghostwhite;border-radius:10px;border: 1px ghostwhite #233047" class="col-md-9">
    <br />
    <h2 style="padding-left: 25px">Hardware Blogs</h2>
    <br />
    <nav>
        <hr />
        <a href="/Blog/DesktopInternalHardDriveBuyingGuide" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="ariticleTitle">Desktop Internal Hard Drive Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>October 18, 2018</em></p>
                <p>If you want to quickly buy a hard drive and don't really care about technicalities then . . . </p>
            </div>
        </a>
        <hr />
        <a href="/Blog/DesktopInternalSSDBuyingGuide" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="ariticleTitle">Desktop Internal SSD Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>December 19, 2018</em></p>
                <p>Here is a quick list of my recommendations to look for in an SSD. If you want for info on . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/DesktopRAMBuyingGuide" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="ariticleTitle">Desktop RAM Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>December 28, 2018</em></p>
                <p>For desktops, the type of RAM you want is double data rate or DDR. Over the years, there have . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/DesktopPowerSupplyBuyingGuide" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="ariticleTitle">Desktop Power Supply Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>January 6, 2019</em></p>
                <p>Always spend the extra money to buy a good power supply. The power supply connects to every component in the PC. It is also the most likely component to fail. Once it . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/DesktopGamingGraphicsCardBuyingGuide" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="ariticleTitle">Desktop Gaming Graphics Card Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>January 10, 2019</em></p>
                <p>For monitors, there are different kinds of resolutions out there. The most common is Full HD (FHD) (1920x1080) (1080p). It's commonly called . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/DesktopMonitorBuyingGuide" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="ariticleTitle">Desktop Monitor Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>January 19, 2019</em></p>
                <p>Monitors are measured from one corner to another diagonally instead of length or width. Monitors are also measured by their resolution. Resolution is the number of vertical and horizontal pixels. For example, 1080p has 1920 x 1080 pixels . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/DesktopProcessorBuyingGuide" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="ariticleTitle">Desktop Processor Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>March 7, 2019</em></p>
                <p>These days CPUs are being more reliant on efficiency rather than speed. One way to be more efficient is to use multiple cores. Multicore technology is when . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/DesktopMotherboardBuyingGuide" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="ariticleTitle">Desktop Motherboard Buying Guide</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>March 18, 2019</em></p>
                <p>The motherboard chipset dictates the compatibility with other PC components. It determines the support for PC parts such as the CPU . . .</p>
            </div>
        </a>
        <hr />
        <a href="/Blog/ServerRack" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="ariticleTitle">Server Rack Overview</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>June 29, 2019</em></p>
                <p>A server rack is a piece of equipment designed to hold and organize IT equipment. They’re used in server rooms or . . .</p>
            </div>
        </a>
        <hr />
    </nav>
    <br />
</div>
<br />
<br />

