
@{
    ViewData["Title"] = "Coding Category";
}

<br />
<br />
<div style="margin:auto;background-color:ghostwhite;border-radius:10px;border: 1px ghostwhite #233047" class="col-md-9">
    <br />
    <h2 style="padding-left: 25px">Coding Blogs</h2>
    <br />
    <nav>
        <hr />
        <a href="/Blog/PythonBasics" style="text-decoration:none">
            <div class="articleBox">
                <h3 class="ariticleTitle">Python Basics</h3>
                <p class="articleSubTitle">Juan Aguilar | <em>June 5, 2019</em></p>
            </div>
        </a>
        <hr />
    </nav>
    <br />
</div>
<br />
<br />
