
@{
    ViewData["Title"] = "BlogTemplate";
}

<br />
<br />

<div style="margin:auto;background-color:ghostwhite;border-radius:10px;border: 1px ghostwhite #233047" class="col-md-7">

    <br />

    <hr />
    <h2 id="articleName" style="margin-left:15px;margin-right:15px;">Desktop Internal Hard Drive Buying Guide</h2>

    @*<h3>Subtitle</h3>*@

    <p class="generalText"><strong>By Juan Aguilar</strong></p>
    <p class="generalText"><em>January 6, 2019</em></p>
    <hr />

    <br />

    <h4 class="customTitle">Straight To The Point</h4>
    <p class="generalText">If you want to quickly buy a hard drive and don't really care about technicalities then take the suggestions below. If you're interested on how I came up with these suggestions then continue reading.</p>
    <ul>
        <li class="bulletPointGeneralText"></li>
        <li class="bulletPointGeneralText"></li>
        <li class="bulletPointGeneralText"></li>
        <li class="bulletPointGeneralText"></li>
        <li class="bulletPointGeneralText"></li>
    </ul>

    <br />

    <h4 class="customTitle"></h4>
    <p class="generalText">

    </p>

    <br />

    <h4 class="customTitle">References</h4>
    <p class="citation">

    </p>

    @*<br />
        @await Html.PartialAsync("CommentsPartialView")*@

    <br />

</div>

<br />
<br />
