
@{
    ViewData["Title"] = "BlogTemplate";
}

<br />
<br />

<div style="margin:auto;background-color:ghostwhite;border-radius:10px;border: 1px ghostwhite #233047" class="col-md-7">

    <br />

    <hr />
    <h2 id="articleName" style="margin-left:15px;margin-right:15px;">Desktop Internal Hard Drive Buying Guide</h2>

    @*<h3>Subtitle</h3>*@

    <p class="generalText"><strong>By Juan Aguilar</strong></p>
    <p class="generalText"><em>April 6, 2019</em></p>
    <hr />

    <br />

    <h4 class="customTitle"></h4>
    <p class="generalText">

    </p>

    <ul>
        <li class="bulletPointGeneralText"></li>
        <li class="bulletPointGeneralText"></li>
        <li class="bulletPointGeneralText"></li>
        <li class="bulletPointGeneralText"></li>
        <li class="bulletPointGeneralText"></li>
    </ul>

    <a href="https://www.thesitewizard.com/" target="_blank">thesitewizard.com</a>

    <div class="container-fluid">
        <div class="row" style="justify-content: center ">
            <div>
                <img class="bookImage" src="~/images/Blog/Hardware/DesktopMotherboardBuyingGuide/USBGenerations.png" />
            </div>
        </div>
    </div>

    <h4 class="customTitle">References</h4>
    <p class="citation">

    </p>

    @*<br />
        @await Html.PartialAsync("CommentsPartialView")*@

    <br />

</div>

<br />
<br />
