
@{
    ViewData["Title"] = "Blog";
}

<br />
<br />
<div style="margin:auto;background-color:ghostwhite;border-radius:10px;border: 1px ghostwhite #233047;text-align:center" class="col-md-9">
    <br />
    <h2 style="padding-left: 25px">Categories</h2>
    <br />
    <nav>
        <a href="/Blog/LinuxCategory" class="categoryBox">Linux</a>
        <a href="/Blog/HardwareCategory" class="categoryBox">Hardware</a>
        <a href="/Blog/NetworkingCategory" class="categoryBox">Networking</a>
        <a href="/Blog/CodingCategory" class="categoryBox">Coding</a>
        @*<a href="/Article/WindowsCategory" class="categoryBox">Windows</a>*@
    </nav>
    <br />
</div>
<br />
<br />

